
@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant:wght@900&display=swap');
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.class-name:after {
    content: " ";
    display: block;
    width: 50%;
    border-bottom: 3px solid #9E9E9E;
}

.top{
    font-family: "Ysabeau Infant";
    font-weight: 900;
    font-size: 60px;
    letter-spacing: 10px;
}

.bottom{
    width: 50%;
    line-height: .9;
    font-family: "Ysabeau Infant";
    font-weight: 900;
    font-size: 120px;
    letter-spacing: 6px;
}